.pageView {
    width: 83.25%;
    margin-top: 5%;
    display:inline-block;
}

#selectMenu {
    float: right;
}

.sideBar{
    margin-right:5%;
    margin-top:5%;
    display: block;
    float:left;
}
.sideBar ul {
    text-decoration:none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #fff;
    float: left;
}

.sideBarli a {
    display: block;
    padding: 8px 16px;
    text-decoration:none;
    color:inherit;
}

.sideBar li {
    text-align: center;
    border-bottom: 5px solid #fff;
}

/* Change the link color on hover */
.sideBar li:hover{
    border-bottom-color:#046B99;
}
.sideBar li a:hover {
    
    text-decoration: none;
}
