
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <div class="container">
        <div class="group">
            <div class="half">
                <article class="p-l-0">
                    <div class="add_padding">
                        <!-- InstanceBeginEditable name="MainContent" -->

                        <h1>About the Department of Rehabilitation</h1>

                        <p>
                            The California Department of Rehabilitation (DOR) administers the
                            largest vocational rehabilitation program in the country.
                        </p>

                        <p>
                            We have a three-pronged mission to provide services and
                            <a href="/Glossary/index.html#Advocacy">advocacy</a>
                            that assist people with disabilities to live independently, become
                            employed and have equality in the communities in which they live
                            and work.
                        </p>

                        <p>
                            DOR provides consultation, counseling and vocational rehabilitation,
                            and works with community partners to assist the consumers we serve.
                        </p>

                        <h2>DEPARTMENT VISION AND MISSION STATEMENTS</h2>

                        <div class="leftindent">

                            <h3>VISION STATEMENT:</h3>

                            <p>
                                Employment, independence and equality for all Californians
                                with disabilities.
                            </p>

                            <h3>MISSION STATEMENT:</h3>

                            <p>
                                The California Department of Rehabilitation works in partnership
                                with consumers and other stakeholders to provide services and
                                advocacy resulting in employment, independent living and equality for
                                individuals with disabilities.
                            </p>

                        </div>

                        <h2>OUR CORE VALUES</h2>

                        <p>
                            An organization's core values are our deeply held beliefs and guide
                            the organization in its staff's conduct, work and decision-making.
                        </p>

                        <ul>
                            <li>
                                We believe in the talent and potential of individuals with
                                disabilities.
                            </li>

                            <li>
                                We invest in the future through creativity, ingenuity and
                                innovation.
                            </li>

                            <li>
                                We ensure our decisions and actions are informed by interested
                                individuals and groups.
                            </li>

                            <li>We pursue excellence through continuous improvement.</li>

                            <li>
                                We preserve the public's trust through compassionate and
                                responsible provision of services.
                            </li>
                        </ul>

                        <h2>OUR GUIDING PRINCIPLES</h2>

                        <p>The principles that guide us in our daily work.</p>

                        <ol>
                            <li>
                                Delivering effective vocational rehabilitation services, and
                                other programs and services in an efficient, caring,
                                professional, and prompt manner.
                            </li>

                            <li>
                                Attracting, developing, and retaining a competent, creative,
                                and highly motivated workforce.
                            </li>

                            <li>
                                Maintaining public trust by being fiscally responsible and
                                ensuring quality programs and services.
                            </li>

                            <li>
                                Sustaining our role as a respected leader in the disability
                                community; inspiring hope in those we serve.
                            </li>
                        </ol>

                        <p>&nbsp;</p>

                        <!-- InstanceEndEditable -->

                        <div class="cleaner"></div>
                    </div>
                </article>
            </div>
            <div class="half">
                <article class="p-t-md">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><span class="ca-gov-icon-download"></span>DOR Strategic Plan</h2>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <p>
                                        <a href="https://www.dor.ca.gov/Public/Strategic-Plan-2013-2018.html">
                                            DOR
                                            2013-2018 Strategic Plan
                                        </a>
                                    </p>
                                    <ul>
                                        <li>
                                            <p>
                                                <a href="https://www.dor.ca.gov/Public/Strategic-Plan-2013-2018.rtf">
                                                    DOR
                                                    2013-2018 Strategic Plan in RTF
                                                </a>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                <a href="https://www.dor.ca.gov/Public/Strategic-Plan-2013-2018.pdf">
                                                    DOR
                                                    2013-2018 Strategic Plan in PDF
                                                </a>
                                            </p>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <p>
                                        <a href="@Url.Action("About_StrategicPlanSurvey", "Home")">
                                            2013 DOR
                                            Strategic Plan Survey Results
                                        </a>
                                    </p>
                                </li>

                                <!--
    <li><p><a href="/Public/strat-pln-2009.rtf">DOR 2009
    Strategic Plan in Rich Text Format</a></p>
    <ul>
        <li><p><a href="/Public/strat-pln-2009.doc">DOR 2009
        Strategic Plan in MS Word Format</a></p></li>
    </ul>
    </li>
    -->
                            </ul>
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>
</div>

