@{
    ViewBag.Title = "Home_Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!---->
<!---->
<!-- Begin Main Content -->

<h2 class="text-center">Welcome to the AEIS Test System</h2>
<div class="row p-b-lg">
    <div class="offset-quarter half">
        <section id="loginForm" class="section-understated p-a-lg shadow">
            <!--Form states-->
            <div id="email-box" class="form-group m-b-md">
                <div class="input-group">
                    <div class="input-group-addon d-flex">
                        <i class="ca-gov-icon-person"></i>
                    </div>
                    <input id="email" onkeyup="regChecker()" name="userEmail" class="form-control" type="text" placeholder="Enter Your Email">
                </div>
                <div class="input-group m-t-md">
                    <div class="input-group-addon d-flex">
                        <i class="ca-gov-icon-key"></i>
                    </div>
                    <input id="password" onkeyup="regChecker()" name="userPassword" class="form-control" type="password" placeholder="Enter Your Password">
                </div>

                <small id="email-feedback" class="feedback" style="display:none">Email not registered, please register to continue.</small>
            </div>
            <div class="row">
                <div class="half">
                    <label class="form-check-inline p-l-md m-l-0 m-r-md">
                        <input class="hidden-up pos-abs" type="checkbox">
                        <div class="check-icon-checkbox">
                            <i class="ca-gov-icon-check-mark"></i>
                        </div>
                        Remember me
                    </label>
                </div>

                <div class="half">
                    <a href="#" class="pull-right">Forgot your password?</a>
                </div>
            </div>
            <div class="row m-t-md m-b-md text-center">
                <div class="col-sm-offset-2 col-sm-8">
                    <input type="submit" id="submitReg" style="opacity: 0.2;" value="Log in" class="btn btn-lg btn-primary full-width" onclick="loginCheck()" />
                </div>
            </div>
            <div class="row m-t-md text-center">
                <small>Not registered yet?</small>
            </div>
            <div class="row m-t text-center">
                <a href="@Url.Action("Home_Reg", "Home" )" class="btn btn-default">Register</a>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    // Validating Empty Field
    function loginCheck() {
        if (document.getElementById('email').value == "" || document.getElementById('password').value == "") {
            alert("Fill All Fields !");
        } else if (document.getElementById('email').value == "test" && document.getElementById('password').value == "test") {
            alert("Logging in...");
            window.location = "AccountPageSuccess";
            
        } else {
            alert("Incorrect Login Credentials");
        }
    }

    function regChecker() {
        var email1 = document.getElementById('email');
        var pass1 = document.getElementById('password');
        var tempEmail = email1.value;
        var tempPass = pass1.value;

        if (tempPass == "" || tempPass == "") {
            document.getElementById("submitReg").style.opacity = 0.2;
        } else {
            document.getElementById("submitReg").style.opacity = 1;
        }
    }
</script>
